{% for s in section %}<section class="projects-section bg-light" id="{{s.section_name}}">
            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{s.media}}" alt="{{s.title}}" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>{{s.title}}</h4>
                            <div class="text-black-50 mb-0">{{s.description| markdownify |safe}}</div>
                        </div>
                    </div>
                </div>
                {% for si in s.sub_section1 %}
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6 bg-black">
					{% if si.image %}<img class="img-fluid" src="{{si.image}}" alt="{{si.title}}" />{% else %}
					{{si.video | markdownify |safe}}{% endif %}
					</div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">{{si.title}}</h4>
                                    <div class="mb-0 text-white-50">{{si.content| markdownify |safe}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>{% endfor %}
                {% for si in s.sub_section2 %}
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6 bg-black">
					{% if si.image %}<img class="img-fluid" src="{{si.image}}" alt="{{si.title}}" />{% else %}
					{{si.video| markdownify |safe}}{% endif %}</div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">{{si.title}}</h4>
                                    <div class="mb-0 text-white-50">{{si.content| markdownify |safe}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>{% endfor %}
        </section>{% endfor %}
 