        <section class="signup-section" id="signup" style="
		  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), 
  url('{{metadata.subscribe.image}}');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
		">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="{{metadata.subscribe.icon}} fa-2x mb-2 text-white"></i>
                        <form class="form-signup" id="contactForm" action="{{metadata.formspree_id}}" method="post">
                        <h2 class="text-white mb-5">{{metadata.subscribe.title}}</h2>
                            <div class="row input-group-newsletter">
                                <div class="col"><input class="form-control" id="emailAddress" type="email" name="email" placeholder="{{metadata.subscribe.placeholder}}" aria-label="Enter email address..." data-sb-validations="required,email" /></div>
                                <div class="col-auto"><button class="btn btn-primary" id="submitButton" type="submit">{{metadata.subscribe.button}}</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>